/*****
Reference to SMACSS - http://smacss.com/

NAMING CONVENTIONS:
c- : Color,
l- : Layout,
m- : Module,
f- : Form,
e- : Element,
*****/

//COLOURS
$c-title: #111;
$c-text: #333;
$c-link: #ff0000;
$c-lightgreytext: #777777;

$c-smgreen: #09f7a9;

$c-white: #ffffff;
$c-black: #000000;

$c-lightgrey: #f3f3f2;
$c-mediumgrey: #575656;
$c-darkgrey: #111111;

$c-border: #dfdfdf;
$c-errorbg: #ffdcdc;

$c-mobilenavbk: #333;
$c-mobilenavtext: #fff;
$c-hamburger: #888;
